# Exlude all ...
*

# ... Except folders
# !actors/
# !client/
# !components/
# !controllers/
# !core/
# !gui/
# !network/
# !render/
# !server/
!src/
!src/engine
!src/fsis
!"src/Data Files"
!src/fsis/client
!src/fsis/server

# md files  
!**.md

# .gitignore
!.gitignore

# sources
!**.cpp
!**.cc
!**.cxx

# headers
!**.hpp
!**.h