# Exlude all ...
*

# ... Except folders
!src/
!src/engine
!src/engine/actors/
!src/engine/components/
!src/engine/controllers/
!src/engine/core/
!src/engine/gui/
!src/engine/network/
!src/engine/render/
!src/fsis
!resources/
!resources/map
!resources/sound
!resources/music
!resources/fonts
!resources/textures
!resources/textures/creatures
!resources/textures/map
!resources/ui
!resources/creatures

# md files  
!**.md

# .gitignore
!.gitignore

# sources
!**.cpp
!**.cc
!**.cxx

# headers
!**.hpp
!**.h

# forms
!**.txt
!**.json

# textures
!**.png
!**.jpeg
!**.jpg
!**.bmp

# sounds
!**.ogg
!**.wav

# config files
!**.ini
